* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f0f0f0;
}

nav {
  display: flex;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

i {
  color: #562a81;
  font-size: larger;
}

.entry-photos > img {
  width: 100%;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.column-half > p {
  padding: 0 1rem;
  font-size: 16px;
  white-space: pre-wrap;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}

.head-background {
  background-color: #562a81;
  width: 100%;
  height: 5rem;
}

#code-journal-header {
  color: white;
  font-family: "Proza Libre", sans-serif;
  font-size: 22px;
  letter-spacing: 0.1rem;
  padding: 1.75rem 1rem;
}

#left-column {
  padding-bottom: 1.5rem;
}

#form {
  margin: 0 1rem;
}

#main-background {
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

#url-top-padding {
  padding-top: 1.5rem;
}

#notes-top-padding {
  padding-top: 1.5rem;
}

#notes {
  height: 12rem;
}

.new-entry-header {
  font-size: 30px;
  padding: 1rem 0;
}

.input-labels {
  font-size: 16px;
  padding-bottom: 0.75rem;
}

.user-input {
  border: 2.5px solid #b6b6b6;
  border-radius: 0.25rem;
  width: 100%;
  height: 4vh;
  font-size: 14px;
  padding-top: 0;
}

.user-input:focus {
  outline: none;
  border-color: #562a81;
}

.column-half {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

#image {
  width: 100%;
  border-radius: 0.25rem;
  object-fit: cover;
}

.column-full {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 0;
}

.submit {
  color: white;
  background-color: #562a81;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
}

#new-entry {
  color: white;
  background-color: #562a81;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-left: auto;
}

.submit:active,
#new-entry:active {
  background-color: #985dd4;
}

#entries-link {
  color: white;
  padding-top: 2.1rem;
  font-family: "Proza Libre", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

#entries-header {
  font-size: 30px;
}

.space-between {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.no-entries-text {
  width: 100%;
  display: flex;
  justify-content: center;
}

#entries-width {
  margin: 0 auto;
  max-width: 900px;
}

#popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #27262688;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > p {
  font-size: 16px;
  text-align: center;
}

.modal {
  position: relative;
  top: -5rem;
  background-color: #f0f0f0;
  width: 25rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

#delete-button {
  border: none;
  color: red;
  font-size: 16px;
  margin-top: 1rem;
  padding: 0;
  text-decoration: underline;
}

#cancel {
  border: none;
  border-radius: 0.25rem;
  color: black;
  background-color: #acacac;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  align-self: flex-end;
}

#cancel:active {
  background-color: rgb(195, 195, 195);
}

#confirm {
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: red;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  align-self: flex-end;
}

.buttons-container {
  width: 100vw;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#delete-button:hover,
#cancel:hover,
#confirm:hover,
#entries-link:hover,
.submit:hover,
#new-entry:hover,
i:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #left-column {
    padding-right: 0.5rem;
    padding-bottom: 0;
  }

  #right-column {
    padding-left: 0.5rem;
  }
}
